{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local/survey

    Example context(json){

    }

}}
<head>

<style>
        /* Styling form-control input, 
        select, textarea */
        .form-control input,
        .form-control select,
        .form-control textarea {
            border: 1px solid #777;
            border-radius: 2px;
            font-family: inherit;
            padding: 10px;
            display: block;
            width: 95%;
        }
    </style>

</head>
<body>
<center>
    <div>
    <h1 class="tlabels">Questions</h1>
    <div class="vertical-menu">
    <form action="/moodle/local/survey/capture.php?id={{survey}}" method="POST" style=" background-color: #fff; box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5); max-width: 750px;">
    <br>
    <table border='1'  style="max-width: 750px;">
        <tr>
            <th> Question </th>
            <th> Response </th>
        </tr>
        
        {{#events}}
            <tr>
            <center>
                <td> {{text}} </td>
                {{#include_rating}}
                    <td style="padding: 10px;"> <select style="width: 5rem; margin-left: 35%;" name="rating{{question_id}}"><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option></select> </td>
                {{/include_rating}}
                {{^include_rating}}
                    <td> <textarea rows="5" cols="40" name="question{{question_id}}" id="question{{question_id}}" maxlength="250" placeholder="answer here"></textarea>   </td>
                {{/include_rating}}
            </center>
            </tr>
        {{/events}}
    </table>
    <input type='hidden' name='{{survey}}' value='{{survey}}'>
    <input type="submit" style="margin: 2%; width: 100px;"></input>
    </form>
</div>